<!-- rolelist.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Role list</title>
</head>
<body>
    	<h2>Role list</h2>
	<ul>
  		{{#each message}}
    			<li>user: {{user}} - role: {{role}}</li>
  		{{/each}}
	</ul>
</body>
</html>
